@use "../../utils/variables.scss";

.main {
  section {
    margin-bottom: 130px;
  }
}

.aboutContainer {
  max-width: 1462px;
  margin: 0 auto;
  padding: 0 15px;

  .title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
  }

  .spoilersContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
}

.listItem {
  margin: 0 0 20px 30px;

  &:last-child {
    margin-bottom: 0;
  }
}
