@use "../../utils/variables.scss";

.main {
}

.introTitle {
  font-size: variables.$big-title-font-size;
  font-weight: 700;
  letter-spacing: 1.32px;
}

.introSubtitle {
}

.fees {
  margin: 60px 0 130px;
}

.feesContainer {
  max-width: 1462px;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 30px;
    background: variables.$footer-background;
    border-radius: 8px 8px 0 0;

    .headingTitle {
      font-size: variables.$titles-font-size;
      font-weight: 700;
      color: #fff;
    }
  }
}
