@use "../../utils/variables.scss";

.registration {
  min-height: 100vh;
  background: url("../../assets/intro-img.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.registrationContainer {
  max-width: 692px;
  padding: 25px 35px 70px;

  border-radius: 8px;
  box-shadow: 0px -5px 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;

  .imgContainer {
    width: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: calc((100% - 133px) / 2);
      top: 50%;
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #fff;
      height: 3px;
      width: calc((100% - 133px) / 2);
      right: 0;
      top: 50%;
    }

    img {
      display: block;
      width: 133px;
      aspect-ratio: 1/1;
      border: 3px solid #fff;
      border-radius: 50%;
      margin: 0 auto;
    }
  }

  .title {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 35px;
    padding: 0 35px;

    .formGroup {
      width: 100%;
    }

    .input {
      padding: 10px;
      font-size: 24px;
      line-height: 20px;
      color: #fff;
      width: 100%;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 8px;
      transition: all 0.2s ease-in-out;

      &.inputError {
        border-color: #bf1643;
      }

      &:hover,
      &:focus {
        box-shadow: #fff 0px 0px 10px 1.5px;
      }

      &.inputError:hover,
      &.inputError:focus {
        box-shadow: #bf1643 0px 0px 10px 1.5px;
      }

      &::placeholder {
        color: inherit;
      }
    }

    .error {
      color: #fff;
      font-weight: 500;
      padding-left: 20px;
      position: relative;

      &::before {
        content: "⚠";
        color: #bf1643;
        position: absolute;
        left: 0;
      }
    }
  }

  .text {
    color: #fff;
    text-align: center;
    font-size: variables.$subtitles-font-size;
  }
}
