@use "../../utils/variables.scss";

.galleryItemAdd {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  border: 2px dashed hsl(0, 0%, 70%);

  &:hover {
    border-radius: 10px;
    border-color: black;

    & > svg {
      transform: scale(1.1);
    }

    & path {
      fill: black;
    }
  }

  & > svg {
    width: 50%;
    height: 50%;
    transition: all 0.3s ease;

    & > path {
      transition: all 0.3s ease;
      fill: hsl(0, 0%, 70%);
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 55px;
  min-width: 700px;

  .formGroup {
    width: 80%;

    input[type="file"] {
      width: 0px;
      height: 0px;
    }

    textarea {
      resize: none;
    }

    .input,
    .upload {
      background-color: transparent;
      padding: 10px;
      border: 2px solid #000;
      border-radius: 8px;
      font-size: 20px;
      transition: all 0.2s ease-in-out;

      &.inputError {
        border-color: #bf1643;
      }

      &:hover,
      &:focus {
        border-color: hsl(0, 0%, 70%);
      }
    }

    .upload {
      display: grid;
      place-content: center;

      & > svg,
      & > svg > path {
        transition: all 0.2s ease-in-out;
      }

      &:hover > svg > path {
        fill: hsl(0, 0%, 70%);
      }

      &:hover > svg {
        animation: jumpy 0.7s ease;
      }
    }

    .label {
      font-size: variables.$subtitles-font-size;

      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }
  }

  .dateWrapper {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    & > .formGroup {
      width: auto;
    }
  }
}

@keyframes jumpy {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(-3px);
  }
}
