.galleryItem {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-radius: 10px;
  }

  &:hover .galleryImg {
    transform: scale(1.05);
  }

  &:hover .actionWrapper {
    top: 5px;
  }

  &.dead .galleryImg {
    filter: grayscale(100%);
  }

  &.dead:hover .galleryImg {
    filter: grayscale(0);
  }
}

.galleryImg {
  width: 100%;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}

.galleryTitle {
  position: absolute;
  left: 10px;
  bottom: 15px;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.actionWrapper {
  position: absolute;
  right: 5px;
  top: -20px;
  transition: all 0.3s ease-in-out;
}

.actionIcon {
  fill: hsl(0, 0%, 70%);
  transition: all 0.3s ease;

  &:hover {
    fill: rgb(211, 48, 48);
    transform: scale(1.2);
  }
}

.defenderWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
}

.defenderName {
  font-size: 40px;
  font-weight: 700;
}

.text {
  font-size: 24px;
}
