.container {
  max-width: 1462px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  padding: 70px 0;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.title,
.link {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.link {
  display: flex;
  text-align: center;
  justify-content: center;
  column-gap: 10px;

  & > svg {
    transition: all 0.3s ease;
  }

  &:hover > svg {
    transform: translateX(10px);
  }
}
