@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

$main-font: "Comfortaa", sans-serif;

// $text-color: #000;
$body-background: #f0f0f0;
$footer-background: rgba(163, 168, 178, 0.6);
$copyright-background: rgb(80, 80, 80);
