@use "../../utils/variables.scss";

.spoiler {
  background-color: #203260;

  .spoilerTitle {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size: variables.$titles-font-size;
    font-weight: 700;
    padding: 5px 30px;
  }
}

.contantContainer {
  overflow: hidden;
}
