@use "../../utils/variables.scss";

.footer {
  .footerContainer,
  .copyrightContainer {
    max-width: 1462px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .footerMain {
    background: variables.$footer-background;
    padding: 40px 0;

    .footerContainer {
      display: flex;
      justify-content: space-evenly;

      .footerContent {
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
      }

      .listContainer {
        display: grid;
        grid-template-columns: repeat(2, 195px);
        row-gap: 35px;
        color: #fff;

        .footerTitle {
          font-weight: 700;
          grid-column-start: span 2;
        }

        .footerList {
          display: flex;
          flex-direction: column;
          row-gap: 35px;
          font-size: variables.$subtitles-font-size;
        }
      }

      .footerMail {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 8px;

        .mailTitle {
          font-size: variables.$titles-font-size;
          font-weight: 700;
        }

        .linkContainer {
          display: flex;
          align-items: center;
          column-gap: 7px;

          .linkImg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #253155;
            border-radius: 50%;

            > img {
              display: block;
              max-width: 60%;
            }
          }
        }
      }
    }
  }

  .footerCopyright {
    background: variables.$copyright-background;
    padding: 20px 0;

    .copyrightContent {
      color: #fff;
      text-align: center;
      font-size: variables.$small-font;
    }
  }
}
