.errorMessage {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  padding-left: 18px;
  color: #bf1643;
  overflow: hidden;
  position: relative;

  &::before {
    content: "⚠";
    color: #bf1643;
    font-weight: 400;
    display: inline;
    position: absolute;
    left: 0;
  }
}
